/*general format*/	
@font-face {
    font-family: forte;
    src: url(font/FORTE.TTF);
}
@font-face {
    font-family: open sans;
    src: url(font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: open sans light;
    src: url(font/OpenSans-Light.ttf);
}
*{
	font-family:"open sans",Verdana,sans-serif;
}
html{
	min-height:100vh;
	position:relative;
	scroll-behavior: smooth;
}
body{
	margin:0;
	padding:0;
	font-size:16px;
	font-size:2.2vh;
}
p img{
	height: 1em;
}
.hidden {
	display:none !important;
}

.nav{
	right:0;
	position: fixed;
	z-index: 1;
}
.nav a{
	color:inherit;
	text-decoration:inherit;
	font-family:inherit;
}
.nav ul{
	list-style-type: none;
	margin:0;
	padding: 0;
}
.nav li{
	float:left;
}
.navItem{
	padding:1rem;
	text-align:center;
	font-size:1.1em;
	color:lavender;
}
.navItem:hover{
	box-shadow:0px 0px 9px 2px mintcream;
	color: white;
}
.dropmenu{
	display:none;
	z-index:1;
	border-top-width: 0px;
}
.nav li:hover .dropmenu{
	display:block;
}

.landing{
	height:95vh;
	background-image: url(images/34601401_p0.jpg);
	background-size: cover;
	background-attachment:fixed;
	overflow:auto;
	position:relative;
}
.intro{
	max-width:60em;
	margin: 7.5vw auto;
}
.intro h1{
	font-family: Verdana;
	font-size: 5em;
	font-weight: 900;
	color:aliceblue;
	margin:0px 0px -0.05em 1rem;
}
.intro h1 span{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color:CornflowerBlue;
}
.intro h2{
	font-size: 2em;
	font-weight: 900;
	color:powderblue;
	margin:0px 1rem;
}
.landingbottom{
	background-image: url(images/curve.png);
	width:100%;
	max-height:40%;
	height: 270px;
	position:absolute;
	background-size:auto 100%;
	bottom:0;
}
.main{
	background-color: dimgrey;
	overflow:auto;
	color:white;
	padding:1% 14%;
}
.main a{
	color:inherit;
	text-decoration: inherit;
}
.main h1{
	font-weight: normal;
	font-family: "open sans light";
}

.main2{
	text-align: center;
	background-color: rgb(51,51,51);
	overflow: auto;
	padding:10%;
	color:lightgrey;
}
.main2 a{
	color:inherit;
	text-decoration:inherit;
}
.main2 i{
	font-size:2em;
	margin:0 0.5em;
}
.main3{
	background-color: black;
	overflow:auto;
	text-align:center;
	color:white;
	font-size:16px;
}

.main20{
	background-image: url(images/wp5619857-fantasy-anime-wallpapers.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.main21{
	font-size: 16px;
	margin:auto;
	max-width:750px;
	padding:100px 40px;
	background-color:white;
	box-shadow: 0px 0px 10px 0px white;
}
.i21{
	width:20px;
	height:20px;
	margin-right:5px;
	margin-bottom:-5px;
}
.main21 ul{
	margin:0px;
	list-style-type:disc;
}
.main21 li{
	margin:5px;
}
.main21 ul p{
	margin:0px;
}
.main22{
	text-align: center;
	overflow: auto;
	padding:5%;
	color:white;
	background-color:rgba(0,0,0,0.1);
	margin-top: 5%;
}
.main22 a{
	color:inherit;
	text-decoration:inherit;
}
.main22 i{
	font-size:2em;
	margin:0 0.5em;
}
.landing2{
	height:100vh;
	background-image:url(images/wp5619865-fantasy-anime-wallpapers.jpg);
	background-size: cover;
	background-attachment:fixed;
	overflow:auto;
	position:relative;
}
.intro2{
	max-width:30em;
	margin: 15vw auto;
	color:white;
	background-color: rgba(0,0,0,0.2);
	padding:1em;
}
.intro2 a{
	text-decoration: inherit;
	color:inherit;
}
.landing3{
	height:100vh;
	background-image:url(images/d2q6q8t-335c3992-9f28-410c-a9c3-ffad5c6faacf.jpg);
	background-size: cover;
	overflow:auto;
	position:relative;
}
.intro3{
	text-align: center;
	margin:40vh auto;
	font-size: 2em;
	color:black;
}
.intro3 h1{
}
.main31{
	max-width: 1100px;
	margin:auto;
	padding:100px;
}
.main31 h1{
	font-family: arial;
	font-weight: 900;
	text-align: center;
}

.project{
	margin:2em 0 0 0;
	animation-duration: 0.5s;
	animation-fill-mode:both; 
}
.projectthumbnail{
	width: 15em;
	display: inline-block;
}
.project img{
	max-width: 15em;
	height:9em;
	box-shadow:0px 0px 5px 0px darkslategrey;
}
.projecttext{
	display:inline-block;
	font-size: 0.8em;
	font-family: arial;
	vertical-align: top;
	padding:1em;
	max-width: 40em;
}
.projecttext h2{
	margin:0 0 0.5em 0;
}
.projectbutton{
	border:1px solid white;
	display:inline;
	padding:4px;
}
.projectbutton:hover{
	background-color: white;
	box-shadow:0px 0px 9px 2px ivory;
	color:black;
}
.main32{
	text-align: center;
	overflow: auto;
	padding: 1em;
}
.main32 a{
	color:inherit;
	text-decoration:inherit;
}
.main32 i{
	font-size:2em;
	margin:0 0.5em;
}
.nav-scroll {
  background-color: rgb(0,0,0,0.5);
  transition: 500ms ;
}